.address {
  padding-top: 63px;
  background-color: var(--basic-yellow);
}

.address__wrapper {
  position: relative;
  padding-left: var(--padding-wrap-blocks);
  padding-right: var(--padding-wrap-blocks);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.address__wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  bottom: -30px;
  left: 0;
  background-color: var(--basic-yellow);
  z-index: 1;
}

.address__text {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 33px;
  padding-right: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-blue-dark);
}

.address__text::before {
  content: "";
  display: block;
  min-width: 45px;
  height: 45px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: var(--basic-blue-dark);
  background-image: url("../../img/icons/icon-location.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: center;
}

.address__button {
  margin-bottom: 5px;
  border: 3px solid var(--basic-blue-dark);
}

.address__map {
  width: 100%;
  height: 320px;
  background-color: darkslategrey;
}
