.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;

  padding-left: 0;
  padding-right: 0;

  border: none;
  border-radius: 25px;

  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: inherit;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-blue);
  background-color: var(--basic-yellow);

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.header .button {
  min-height: 50px;
  color: var(--special-blue);
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow);
}

.button:active::after {
  opacity: 0.3;
}

.button_special {
  justify-content: space-between;
  min-height: 62px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: var(--corner-radius-small);

  font-weight: 700;
  font-size: 18px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    min-height: 80px;
    padding-left: 32px;
    padding-right: 33px;

    font-size: 24px;
  }
}

.button__icon {
  width: 13px;
  height: 13px;
  fill: var(--basic-blue);
}

.feedback-form__button .button__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.button:active .button__text {
  opacity: 0.3;
}

.button:active .button__icon {
  fill-opacity: 0.3;
}
