.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  border: none;
  border-radius: 25px;

  font-family: "Blogger Sans", sans-serif;
  font-weight: inherit;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-blue);
  background-color: var(--basic-yellow);

  @media (min-width: 688px) {
    font-size: 20px;
  }
}

.header .button {
  height: 50px;
  color: var(--special-blue);
}

.button_special {
  justify-content: space-between;
  height: 62px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: var(--corner-radius-small);

  font-weight: 700;
  font-size: 18px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    height: 80px;
    padding-left: 32px;
    padding-right: 33px;

    font-size: 24px;
  }
}

.button_special::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;

  background-image: url("../img/icons/arrow-blue.svg");
  background-repeat: no-repeat;
}

.feedback-form__button .button__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
