.catalog-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content;
    max-width: 1440px;

    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 135px;

    padding-left: 60px;
    padding-right: 60px;
  }
}
