.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__icon {
  width: 26px;
  height: 26px;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 36px;
    margin-right: 22px;
  }
}

.checkbox__border {
  stroke: #cbced9;
}

.checkbox__marker {
  fill: transparent;
}

.checkbox__text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 15px;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    margin-top: 0;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

input:checked + .checkbox .checkbox__marker {
  fill: #161c35;
}

.checkbox:active .checkbox__bg {
  fill: #e2e5f1;
}

.checkbox:active .checkbox__marker {
  fill-opacity: 0.3;
}

.checkbox:hover .checkbox__border,
.checkbox:focus .checkbox__border {
  stroke: #959bb2;
}
