.client-menu {
  display: flex;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.header .client-menu__item_auth {
  order: -1;
  position: static;
  min-width: 100%;

  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 51px;

  font-weight: 700;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 40px;
    right: var(--page-padding-size);

    min-width: 188px;
    margin-bottom: 0;

    font-weight: 400;
    letter-spacing: 0.03em;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    position: static;

    top: auto;
    right: auto;

    font-weight: 700;
    letter-spacing: 0;
  }
}

.header_collapse .client-menu__item_auth,
.header_scroll .client-menu__item_auth {
  display: none;

  @media (min-width: $tablet-width) {
    position: static;
    display: block;
    min-width: 188px;
    font-weight: 700;
  }
}

.promo .client-menu__item_auth {
  min-width: 188px;
  font-weight: 700;
}

.client-menu__item_auth:hover .button,
.client-menu__item_auth:focus .button {
  background-color: var(--basic-orange);
}
