.companions-filter {
  padding-top: 21px;
  padding-left: var(--page-padding-size);
  padding-right: var(--page-padding-size);

  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    padding-top: 39px;
  }

  @media (min-width: $desktop-width) {
    grid-columns: 2 / 3;
    grid-row: 1 / 2;

    margin-left: 85px;
    margin-bottom: 0;

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.companions-filter__wrapper {
  width: 100%;
  max-width: 480px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 26px;
  padding-left: var(--content-padding-size);
  padding-right: var(--content-padding-size);
  padding-bottom: 22px;

  border-radius: 20px;

  background-color: var(--basic-yellow);

  @media (min-width: $tablet-width) {
    max-width: 1024px;

    padding-top: 37px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;

    padding-top: 46px;
    padding-left: 48px;
    padding-right: 46px;
    padding-bottom: 48px;
  }
}

.companions-filter__title {
  margin-top: 0;
  margin-bottom: 12px;
  padding-bottom: 23px;

  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: var(--basic-blue);
  letter-spacing: 0.02em;

  border-bottom: 1px solid #f3c72b;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    padding-bottom: 38px;

    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-bottom: 34px;
    border-bottom: none;
  }
}

.companions-filter__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  border: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    padding-top: 3px;
    padding-left: 126px;
    padding-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;

    padding-top: 12px;
    padding-left: 0;
    padding-bottom: 9px;
  }
}

.companions-filter__fieldset:first-child {
  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
  }
}

.companions-filter__fieldset:not(:last-of-type) {
  margin-bottom: 12px;
  border-bottom: 1px solid #f3c72b;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.companions-filter__fieldset:last-of-type {
  margin-bottom: 21px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
    padding-bottom: 37px;
    border-bottom: 1px solid #f3c72b;

    .companions-filter__legend {
      top: calc(50% - 15px);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.companions-filter__fieldset_transport {
  padding-bottom: 20px;

  .companions-filter__legend {
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    .companions-filter__legend {
      top: calc(50% - 3px);
    }
  }

  @media (min-width: $desktop-width) {
    .companions-filter__legend {
      margin-bottom: 10px;
    }
  }
}

.companions-filter__fieldset_transport.companions-filter__fieldset_collapse {
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    .companions-filter__legend {
      top: calc(50% - 3px);
    }
  }
}

.companions-filter__fieldset_collapse {
  input {
    display: none;
  }

  .companions-filter__legend {
    margin-bottom: 0;
  }

  .companions-filter__fieldset-toggle {
    transform: rotate(0deg);
  }

  .companions-filter__checkbox {
    display: none;
  }

  .companions-filter__fieldset-wrapper {
    display: none;
  }

  .companions-filter__rating {
    display: none;
  }

  .companions-filter__rating-slider {
    display: none;
  }

  @media (min-width: $tablet-width) {
    input {
      display: block;
    }

    .companions-filter__legend {
      margin-bottom: auto;
    }

    .companions-filter__fieldset-toggle {
      display: none;
    }

    .companions-filter__checkbox {
      display: flex;
    }

    .companions-filter__fieldset-wrapper {
      display: flex;
    }

    .companions-filter__rating {
      display: flex;
    }

    .companions-filter__rating-slider {
      display: flex;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;

    input {
      display: none;
    }

    .companions-filter__legend {
      margin-bottom: 0;
    }

    .companions-filter__fieldset-toggle {
      display: flex;
      transform: rotate(0deg);
    }

    .companions-filter__checkbox {
      display: none;
    }

    .companions-filter__fieldset-wrapper {
      display: none;
    }

    .companions-filter__rating {
      display: none;
    }

    .companions-filter__rating-slider {
      display: none;
    }
  }
}

.companions-filter__legend {
  margin-top: 0;
  margin-bottom: 11px;

  padding: 0;

  font-weight: 700;
  font-size: 16px;
  color: var(--basic-blue);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: calc(50% - 9px);
    transform: translateY(-50%);
    left: 0;

    margin-bottom: 0;

    font-weight: 500;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-bottom: 7px;
  }
}

.companions-filter__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 169px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 191px;
    margin-bottom: 16px;
  }
}

input:focus + .companions-filter__checkbox {
  outline: auto;
}

.companions-filter__checkbox-icon {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 9px;

  fill: var(--basic-white);
  color: transparent;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
}

.companions-filter__checkbox rect {
  fill: var(--basic-white);
}

.companions-filter__checkbox path {
  fill: transparent;
}

.companions-filter__checkbox-text {
  width: 155px;
  margin-top: 4px;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 155px;
  }
}

input:checked + .companions-filter__checkbox path {
  fill: var(--special-blue);
}

.companions-filter__checkbox:hover rect,
input:focus + .companions-filter__checkbox rect {
  fill-opacity: 0.6;
}

.companions-filter__checkbox:hover .companions-filter__checkbox-text,
input:focus + .companions-filter__checkbox .companions-filter__checkbox-text {
  opacity: 0.6;
}

.companions-filter__checkbox:active .companions-filter__checkbox-icon {
  fill-opacity: 0.3;
}

.companions-filter__checkbox:active .companions-filter__checkbox-text {
  opacity: 0.3;
}

.companions-filter__fieldset-toggle {
  position: absolute;
  top: -10px;
  right: -10px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border: none;
  background: transparent;

  cursor: pointer;
  z-index: 1;

  transform: rotate(180deg);

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.companions-filter__fieldset-toggle:hover,
.companions-filter__fieldset-toggle:focus {
  opacity: 0.6;
}

.companions-filter__fieldset-toggle:hover + .companions-filter__legend,
.companions-filter__fieldset-toggle:focus + .companions-filter__legend {
  opacity: 0.6;
}

.companions-filter__fieldset-toggle:active {
  opacity: 0.3;
}

.companions-filter__fieldset-toggle:active + .companions-filter__legend {
  opacity: 0.3;
}

.companions-filter__toggle-icon {
  width: 10px;
  height: 6px;
}

.companions-filter__fieldset-wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    position: relative;
    left: -6px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
    margin-bottom: 14px;
  }
}

.companions-filter__transport {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--basic-white);

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }
}

.companions-filter__transport:not(:last-of-type) {
  margin-right: 2px;
}

.companions-filter__transport-icon {
  width: 17px;
  height: 16px;

  fill: var(--basic-blue);
  fill-opacity: 0.15;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 22px;
  }
}

input:checked + .companions-filter__transport {
  fill: var(--basic-blue);

  .companions-filter__transport-icon {
    fill-opacity: 1;
  }
}

input:checked + .companions-filter__transport:hover,
input:checked:focus + .companions-filter__transport {
  fill-opacity: 0.7;
  filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
}

input:checked:focus + .companions-filter__transport {
  outline: auto;
}

input:not(:checked) + .companions-filter__transport:hover,
input:not(:checked):focus + .companions-filter__transport {
  fill: #b2b2b2;
  filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
}

input:not(:checked):focus + .companions-filter__transport {
  outline: auto;
}

input:checked:active + .companions-filter__transport {
  fill-opacity: 0.3;
  background-color: #e2e5f1;
}

input:not(:checked):active + .companions-filter__transport {
  fill: #ced3e2;
  background-color: #e2e5f1;
}

.companions-filter__rating {
  position: relative;
  display: flex;

  width: 220px;
  height: 35px;

  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 148px;
    height: 46px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    width: 192px;
    margin-bottom: 34px;
  }
}

.companions-filter__rating::before {
  content: "";
  display: block;
  width: 20px;
  height: 14px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #ffffff;
  z-index: 1;
}

.companions-filter__rating::after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #cbced9;
  z-index: 1;
}

.companions-filter__numeric-field {
  position: relative;
  width: 50%;
  margin: 0;
  padding: 6px 0 0;
  border: 1px solid #cbced9;
  border-radius: 4px;

  font-family: "Blogger Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--basic-blue);

  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    font-size: 20px;
  }
}

.companions-filter__numeric-field:hover {
  border-color: #959bb2;
  z-index: 1;
}

.companions-filter__numeric-field:focus {
  outline: none;
  border-color: var(--special-blue);
  z-index: 1;
}

.companions-filter__numeric-field:first-child {
  left: 0.5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.companions-filter__numeric-field:last-child {
  left: -0.5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.companions-filter__rating-slider {
  @media (min-width: $tablet-width) {
    margin-right: 69px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.companions-filter__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 41px;

  margin-left: auto;
  margin-right: auto;

  padding: 5px 15px;

  border: none;
  border-radius: 25px;

  font-family: "Blogger Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;

  color: var(--special-blue);
  background-color: var(--basic-white);

  @media (min-width: $tablet-width) {
    width: 618px;
    min-height: 50px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 192px;
    min-height: 49px;
  }
}

.companions-filter__button:hover,
.companions-filter__button:focus {
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.14));
}

.companions-filter__button:active {
  background-color: #f3c72b;
  filter: none;

  .companions-filter__button-text {
    opacity: 0.3;
  }
}
