.companion {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr min-content;

  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 23px;

  border-radius: 20px;

  background-color: var(--basic-white);

  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    grid-template-rows: repeat(4, min-content);
    padding-top: 35px;
    padding-left: 36px;
    padding-right: 26px;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 286px 344px 318px;
    grid-template-rows: min-content min-content 1fr;

    padding: 0;
  }
}

.companion::after {
  content: "";

  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;

  position: absolute;
  top: 22px;
  right: 23px;

  background-color: #f97676;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.companion_online::after {
  background-color: #bbf085;
}

.companion:hover {
  filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.16));
}

.companion__photo {
  grid-column: 1 / 2;
  position: relative;
  left: -2px;

  width: 70px;
  height: 70px;

  margin-right: 14px;
  border-radius: 50%;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 4;
    width: 190px;
    height: 190px;
    left: 0;
    margin-right: 36px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
    height: 286px;
    margin-right: 0;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.companion__pic-wrapper {
  display: block;
  width: 70px;
  height: 70px;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
    height: 286px;
  }
}

.companion__pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.companion:hover .companion__pic {
  transform-origin: center;
  transform: scale(1.2);
}

.companion__name {
  position: relative;
  grid-column: 2 / 3;

  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;

    width: max-content;
    height: min-content;

    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 46px;
    margin-left: 61px;
    margin-bottom: 20px;
  }
}

.companion__name::after {
  @media (min-width: $tablet-width) {
    content: "";

    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -32px;

    background-color: #f97676;
  }
}

.companion__name:hover,
.companion__name:focus {
  opacity: 0.6;
}

.companion__name:active {
  opacity: 0.3;
}

.companion__name-link {
  color: inherit;
  text-decoration: none;
}

.companion__title {
  position: relative;
  width: max-content;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 15px;
  color: var(--basic-grey);
  text-transform: lowercase;
}

.companion__title_favs {
  position: relative;
  left: 6px;

  @media (min-width: $tablet-width) {
    padding-left: 48px;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.companion__title_favs::before {
  content: "";
  display: block;
  width: 20px;
  height: 1px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;

  background-color: #e2e5f2;

  @media (min-width: $tablet-width) {
    width: 71px;
    left: -35px;
  }
}

.companion__title_favs::after {
  content: "";
  display: block;
  width: 500px;
  height: 1px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 10px);

  background-color: #e2e5f2;

  @media (min-width: $tablet-width) {
    width: 1000px;
  }
}

.companion__title_transport {
  position: relative;
  left: 6px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.companion__title_transport::before {
  content: "";
  display: block;
  width: 20px;
  height: 1px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;

  background-color: #e2e5f2;
}

.companion__title_transport::after {
  content: "";
  display: block;
  width: 500px;
  height: 1px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 10px);

  background-color: #e2e5f2;
}

.companion__title_rating {
  text-align: center;
  width: auto;
  background-color: var(--basic-white);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.companion__title_rating::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;

  position: absolute;
  top: 0;
  left: -14px;

  background-color: var(--basic-white);
}

.companion__title_rating::after {
  content: "";
  display: block;
  width: 10px;
  height: 14px;

  position: absolute;
  top: 0;
  right: -10px;

  background-color: var(--basic-white);
}

.companion__hashtags {
  grid-column: 1 / 4;

  display: flex;
  flex-wrap: wrap;
  width: 184px;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 7px;

  padding-top: 13px;

  font-size: 15px;
  line-height: 20px;
  color: var(--basic-grey);

  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    width: 230px;
    height: min-content;
    margin-bottom: 20px;
    padding-top: 0;
    padding-left: 0;

    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 61px;
  }
}

.companion__hashtag:not(:last-child) {
  margin-right: 4px;
}

.companion__favs {
  grid-column: 1 / 4;

  padding-top: 11px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;

    margin-top: 46px;
    margin-left: 39px;
    padding-top: 0;
  }
}

.companion__favs-list {
  margin-top: 0;
  margin-bottom: 0;

  padding-top: 17px;
  padding-left: 5px;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.companion__favs-list .flag {
  display: flex;
  align-items: center;
  height: 18px;

  margin-bottom: 10px;
  padding-left: 40px;

  background-position: left center;

  @media (min-width: $tablet-width) {
    height: 24px;
    margin-right: 28px;
    margin-bottom: 0;
    padding-left: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 14px;
    padding-left: 52px;
  }
}

.companion__favs-list .flag__name {
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    margin-top: 7px;
  }
}

.companion__transport {
  grid-column: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    height: min-content;

    margin-top: 32px;
    margin-left: 45px;
    margin-bottom: auto;
  }
}

.companion__transport-icons {
  display: flex;

  margin-top: 0;
  margin-bottom: 0;

  padding-top: 16px;
  padding-left: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 32px;
    margin-left: 15px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-left: 0;
  }
}

.companion__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  background-color: var(--basic-blue-light);

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.companion__icon-wrapper:not(:last-child) {
  margin-right: 2px;

  @media (min-width: $desktop-width) {
    margin-right: 12px;
  }
}

.companion__icon {
  width: 20px;
  height: 20px;
  fill: var(--basic-blue-dark);
  opacity: 0.15;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.companion__icon-wrapper_prefer .companion__icon {
  opacity: 1;
}

.companion__rating {
  justify-self: end;
  grid-column: 3 / 4;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;

    margin-right: 41px;
    margin-bottom: 25px;
  }
}

.companion__buttons {
  grid-column: 1 / 4;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    height: min-content;

    margin-top: auto;

    position: relative;
    right: 10px;
  }

  @media (min-width: $desktop-width) {
    right: 0;
    margin-top: 22px;
    margin-left: 53px;
    margin-bottom: auto;
  }
}

.companion__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 40px;

  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;

  border: none;
  border-radius: 25px;

  font-family: "Blogger Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: var(--basic-blue-dark);
  text-transform: uppercase;

  background-color: var(--basic-yellow);

  @media (min-width: $tablet-width) {
    order: -1;

    width: 150px;
    height: 50px;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    font-size: 20px;
  }
}

.companion__button:hover,
.companion__button:focus {
  background-color: var(--basic-orange);
}

.companion__button:active .companion__button-text {
  opacity: 0.3;
}

.companion__like-wrapper {
  position: absolute;
  top: 55px;
  left: 69px;

  display: flex;
  align-items: center;

  font-family: "Blogger Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--special-blue);

  span {
    margin-top: 4px;
    margin-left: 6px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: static;
    height: 50px;

    font-size: 20px;

    span {
      margin-left: 6px;
    }
  }
}

.companion__button-like {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: none;
  border-radius: 50%;

  background-color: #e2e5f2;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.companion__button-like:hover,
.companion__button-like:focus {
  .companion__like-icon {
    fill-opacity: 0.5;
  }
}

.companion__button-like:active {
  .companion__like-icon {
    fill-opacity: 0.1;
  }
}

.companion__button-like_active {
  background-color: #f9eaea;
}

.companion__button-like_active:hover,
.companion__button-like_active:focus {
  background-color: #f9d8d8;
}

.companion__like-icon-fill {
  display: none;

  width: 12px;
  height: 13px;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 17px;
  }
}

.companion__button-like_active:active {
  .companion__like-icon-fill {
    fill-opacity: 0.3;
  }
}

.companion__like-icon {
  display: block;

  width: 12px;
  height: 11px;

  fill-opacity: 0.3;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 18px;
  }
}

.companion__button-like_active .companion__like-icon-fill {
  display: block;
}

.companion__button-like_active .companion__like-icon {
  display: none;
}
