.contacts {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.header .contacts,
.feedback .contacts {
  flex-direction: column;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__item_phone::before,
.contacts__item_mail::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__item_phone::before {
  background-color: var(--basic-orange);
  background-image: url("../../img/icons/icon-telephone-call.svg");
}

.contacts__item_mail::before {
  background-color: var(--special-yellow);
  background-image: url("../../img/icons/icon-mail.svg");
}

.header .contacts__item_phone::before,
.header .contacts__item_mail::before,
.feedback .contacts__item_phone::before,
.feedback .contacts__item_mail::before {
  width: 45px;
  height: 45px;
  margin-right: 16px;
  background-color: var(--special-blue-dark);
}

.header .contacts__item_phone::before,
.feedback .contacts__item_phone::before {
  background-image: url("../../img/icons/icon-telephone-yellow.svg");
}

.header .contacts__item_mail::before,
.feedback .contacts__item_mail::before {
  background-image: url("../../img/icons/icon-mail-yellow.svg");
}

.contacts__link {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-blue-dark);
}

.contacts__link-text {
  display: none;
}

.header .contacts__link-text,
.feedback .contacts__link-text {
  display: block;
}

.feedback .contacts__link-text {
  color: var(--basic-yellow);
}
