.contacts {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  list-style: none;
}

.header .contacts {
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    flex-direction: row;
  }
}

.header_collapse .contacts,
.header_scroll .contacts {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  text-decoration: none;

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.feedback__contacts .contacts__link:hover,
.feedback__contacts .contacts__link:focus {
  &::after {
    color: var(--basic-orange);
  }

  .contacts__icon {
    fill: var(--basic-orange);
  }
}

.feedback__contacts .contacts__link:active {
  &::after {
    opacity: 0.3;
  }

  .contacts__icon {
    opacity: 0.3;
  }
}

.contacts__link::after {
  display: block;
  margin-left: 16px;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--special-blue-dark);

  @media (min-width: $tablet-width) {
    margin-left: 23px;
    font-size: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 31px;
  }
}

.header .contacts__link::after {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.promo__client-menu .contacts__link::after {
  display: none;
}

.feedback__contacts .contacts__link::after {
  color: var(--basic-yellow);
}

.contacts__link_telephone::after {
  content: "8 800 555-86-28";
}

.contacts__link_email::after {
  content: "mail@htmlacademy.ru";
}

.header .contacts__link_telephone {
  display: flex;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header .contacts__link_email {
  display: flex;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header .contacts__link_call {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.header .contacts__link_mail {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.contacts__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
  }
}

.header .contacts__icon-wrapper {
  @media (min-width: $desktop-width) {
    width: 50px;
    height: 50px;
  }
}

.promo .contacts__icon-wrapper {
  width: 40px;
  height: 40px;
}

.contacts__link_telephone .contacts__icon-wrapper {
  background-color: var(--special-blue-dark);
}

.contacts__link_email .contacts__icon-wrapper {
  background-color: var(--special-blue-dark);
}

.contacts__link_call .contacts__icon-wrapper {
  background-color: var(--basic-orange);
}

.contacts__link_mail .contacts__icon-wrapper {
  background-color: var(--special-yellow);
}

.contacts__link_call:hover .contacts__icon-wrapper,
.contacts__link_call:focus .contacts__icon-wrapper {
  background-color: #f26926;
}

.contacts__link_mail:hover .contacts__icon-wrapper,
.contacts__link_mail:focus .contacts__icon-wrapper {
  background-color: var(--basic-orange);
}

.header .contacts__icon {
  fill: var(--basic-yellow);

  @media (min-width: $desktop-width) {
    fill: var(--special-blue);
  }
}

.promo .contacts__icon {
  fill: var(--special-blue);
}

.feedback .contacts__icon {
  fill: var(--basic-yellow);
}

.contacts__link_call:active .contacts__icon,
.contacts__link_mail:active .contacts__icon {
  opacity: 0.3;
}

.contacts__icon_telephone {
  width: 18px;
  height: 17px;

  @media (min-width: $tablet-width) {
    width: 27px;
    height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 36px;
    height: 34px;
  }
}

.contacts__icon_email {
  width: 18px;
  height: 13px;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 37px;
    height: 25px;
  }
}

.contacts__icon_call {
  width: 18px;
  height: 18px;
}

.contacts__icon_mail {
  width: 18px;
  height: 16px;
}
