.date-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.date-info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 42px;

  margin-bottom: 17px;

  border-top: 1px solid #d6d9e6;
  border-bottom: 1px solid #d6d9e6;

  @media (min-width: $tablet-width) {
    height: 86px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.date-info__date {
  font-weight: 700;
  font-size: 20px;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.date-info__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
}

.date-info__icon {
  width: 15px;
  height: 21px;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    width: 25px;
    height: 40px;
  }
}

.date-info__button:hover .date-info__icon,
.date-info__button:focus .date-info__icon {
  opacity: 0.5;
}

.date-info__button:active .date-info__icon {
  opacity: 0.1;
}

.date-info__table {
  width: 221px;

  @media (min-width: $tablet-width) {
    width: 538px;
  }

  @media (min-width: $desktop-width) {
    width: 1000px;
  }
}
