.developed {
  border-top: 1px solid var(--basic-grey-light);

  @media (min-width: $tablet-width) {
    border-top: 0;
  }
}

.developed__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 154px;
  }
}

.developed__title {
  font-weight: 400;
  font-size: 16px;
  color: var(--basic-grey);

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.developed__link:hover,
.developed__link:focus {
  opacity: 0.6;
}

.developed__link:active {
  opacity: 0.3;
}
