.developed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: 1px solid var(--basic-grey-light);
}

.developed__title {
  font-weight: 400;
  font-size: 16px;
  color: var(--basic-grey);
}
