.feedback-form {
  position: relative;
  display: flex;
  height: 62px;

  @media (min-width: $tablet-width) {
    height: 80px;
    margin-left: var(--content-padding-size);
    margin-right: var(--content-padding-size);
  }

  @media (min-width: $desktop-width) {
    width: 1174px;
    margin-left: auto;
    margin-right: auto;
  }
}

.feedback-form__field {
  width: 100%;
  margin: 0;
  padding-left: 25px;
  border: none;

  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;

  border-radius: var(--corner-radius-small);
  background-color: var(--basic-white);

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    font-size: 24px;
  }
}

.feedback-form__field:hover {
  background-color: var(--basic-blue-light);
}

.feedback-form__field:focus {
  color: var(--basic-white);
  border: 4px solid var(--basic-white);
  background: transparent;
  outline: none;
}

.feedback-form__field_invalid {
  color: #ff0000;
}

.feedback-form__field::placeholder {
  color: var(--basic-grey);
  opacity: 0.3;
}

.feedback-form__field:hover::placeholder {
  opacity: 0.5;
}

.feedback-form__button {
  position: absolute;
  right: 0;

  justify-content: center;
  width: 62px;
  height: 62px;

  padding: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 324px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
