.feedback-form {
  position: relative;
  display: flex;
  height: 62px;
}

.feedback-form__field {
  width: 100%;
  border: none;
  border-radius: 10px;
}

.feedback-form__button {
  width: 62px;
  position: absolute;
  right: 0;
  font-size: 0;
}
