.feedback {
  position: relative;
  background-color: var(--basic-blue-dark);
}

.feedback::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  border-bottom-left-radius: var(--corner-radius-large);
  border-bottom-right-radius: var(--corner-radius-large);
  position: absolute;
  bottom: -30px;
  left: 0;

  background-color: var(--basic-blue-dark);
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 60px;
    bottom: -60px;
  }

  @media (min-width: $desktop-width) {
    height: 106px;
    bottom: -105px;
  }
}

.feedback__wrapper {
  max-width: 480px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 110px;
  padding-left: var(--page-padding-size);
  padding-right: var(--page-padding-size);

  @media (min-width: $tablet-width) {
    max-width: 1024px;
    padding-top: 136px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-top: 170px;
  }
}

.feedback__title {
  margin-bottom: 19px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.feedback__paragraph {
  display: block;
  width: 210px;
  margin: 0 auto 29px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 618px;
    margin: 0 auto 65px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 655px;
    margin-bottom: 58px;
  }
}

.feedback__paragraph:nth-of-type(1) {
  @media (min-width: $desktop-width) {
    position: relative;
    left: 10px;
  }
}

.feedback__paragraph:nth-of-type(1) span {
  @media (min-width: $tablet-width) {
    position: relative;
    left: -10px;
  }
}

.feedback__form {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.feedback__paragraph:nth-of-type(2) {
  width: 220px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: 42px;
  }
}

.feedback__link {
  color: var(--basic-yellow);
  text-underline-offset: 2px;

  @media (min-width: $tablet-width) {
    text-underline-offset: 4px;
  }
}

.feedback__link:hover,
.feedback__link:focus {
  color: var(--basic-orange);
}

.feedback__link:active {
  opacity: 0.3;
}

.feedback__contacts {
  flex-direction: column;
  width: 270px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 618px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 868px;
    margin-bottom: 30px;
  }
}
