.footer {
  position: relative;
  padding-top: 7px;
  padding-left: var(--padding-wrap-blocks);
  padding-right: var(--padding-wrap-blocks);
  background-color: var(--basic-white);
}

.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  top: -30px;
  left: 0;
  background-color: var(--basic-white);
  z-index: 1;
}

.footer__logo {
  margin: 0 auto 40px;
}

.footer__socials {
  margin-bottom: 37px;
}
