.footer {
  position: relative;
  background-color: var(--basic-white);

  @media (min-width: $tablet-width) {
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  border-top-left-radius: var(--corner-radius-large);
  border-top-right-radius: var(--corner-radius-large);
  position: absolute;
  top: -24px;
  left: 0;

  background-color: var(--basic-white);
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 60px;
    top: -57px;
  }

  @media (min-width: $desktop-width) {
    height: 64px;
    top: -63px;
  }
}

.footer__wrapper {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  padding-top: 10px;
  padding-left: var(--page-padding-size);
  padding-right: var(--page-padding-size);

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding-top: 0;
    padding-bottom: 5px;
  }
}

.footer__logo {
  margin: 0 auto 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
    position: relative;
    top: -14px;
  }

  @media (min-width: $desktop-width) {
    top: -20px;
    z-index: 10;
  }
}

.footer__socials {
  margin-bottom: 36px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -10px;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -20px;
    margin-right: 44px;
    margin-bottom: 0;
    z-index: 10;
  }
}

.footer__developed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -7px;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 10;
  }

  @media (min-width: $desktop-width) {
    top: -14px;
  }
}
