.header {
  --header-height: 100vh;
  --header-padding-top: 27px;

  @media (min-width: $tablet-width) {
    --header-height: 910px;
    --header-padding-top: 40px;
  }

  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 320px;
  min-height: var(--header-height);

  padding-top: var(--header-padding-top);
  padding-left: var(--page-padding-size);
  padding-right: var(--page-padding-size);

  background-color: var(--basic-white);
  z-index: 100;
}

.header_nojs {
  position: static;
}

.header_collapse {
  --header-collapse-padding-top: 0;
  --header-collapse-padding-bottom: 0;
  --header-collapse-bgcolor: var(--special-blue);

  @media (min-width: $tablet-width) {
    --header-collapse-padding-top: 40px;
    --header-collapse-padding-bottom: 40px;
    --header-collapse-bgcolor: var(--extra-blue-dark);
  }

  @media (min-width: $desktop-width) {
    --header-collapse-padding-top: 47px;
    --header-collapse-padding-bottom: 0;
    --header-collapse-bgcolor: var(--special-blue);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
  }

  position: absolute;
  top: 0;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 53px;

  padding-top: var(--header-collapse-padding-top);
  padding-left: var(--page-padding-size);
  padding-right: var(--page-padding-size);
  padding-bottom: var(--header-collapse-padding-bottom);

  background-color: var(--header-collapse-bgcolor);
  z-index: 100;
}

.header_scroll {
  --header-scroll-height: 76px;

  @media (min-width: $desktop-width) {
    --header-scroll-height: 90px;
  }

  position: fixed;
  top: 0;

  min-height: var(--header-scroll-height);

  background-color: var(--basic-white);
}

.header__logo {
  --header-logo-margin-bottom: 76px;

  @media (min-width: $tablet-width) {
    --header-logo-margin-bottom: 98px;
  }

  @media (min-width: $desktop-width) {
    --header-logo-margin-bottom: 0;

    grid-column: 1 / 2;
  }

  margin-bottom: var(--header-logo-margin-bottom);
}

.header_collapse .header__logo,
.header_scroll .header__logo {
  margin-bottom: 0;
}

.header__toggle {
  position: absolute;
  top: 25px;
  right: var(--page-padding-size);

  @media (min-width: $tablet-width) {
    top: calc(40px + 22px / 2);
    right: 50%;
    transform: translateX(50%);
  }
}

.header_nojs .header__toggle {
  display: none;
}

.header_collapse .header__toggle,
.header_scroll .header__toggle {
  top: auto;
}

.header__navigation {
  --header-navigation-margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    --header-navigation-margin-bottom: 144px;
  }

  @media (min-width: $desktop-width) {
    --header-navigation-margin-bottom: 0;

    grid-column: 2 / 4;
    top: 4px;
    padding-left: 16px;
  }

  margin-bottom: var(--header-navigation-margin-bottom);
}

.header_collapse .header__navigation {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header_scroll .header__navigation {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header__client-menu {
  flex-direction: column;

  margin-right: 0;
  margin-left: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    flex-direction: row;
  }
}

.header__socials {
  @media (min-width: $tablet-width) {
    align-self: start;
    margin-left: var(--content-padding-size);
  }
}

.header_collapse .header__socials,
.header_scroll .header__socials {
  display: none;
}
