.motivation {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: var(--basic-blue-dark);
  counter-reset: numberIndent;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 101px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.motivation__point {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: var(--content-padding-size);
  border-radius: var(--corner-radius-small);
  list-style: none;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    height: 140px;
    padding-top: 31px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    height: 107px;
    padding-top: 0;
  }
}

.motivation__point::before {
  counter-increment: numberIndent;
  content: counter(numberIndent);
  position: absolute;
  top: 22px;
  right: 21px;
  color: var(--basic-white);

  @media (min-width: $tablet-width) {
    top: 89px;
    right: auto;
    left: var(--content-padding-size);
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 29px;
    right: var(--content-padding-size);
    left: auto;
    font-size: 24px;
  }
}

.motivation__point:nth-of-type(1)::before {
  @media (min-width: $desktop-width) {
    right: 50px;
  }
}

.motivation__point:nth-of-type(2)::before {
  @media (min-width: $desktop-width) {
    right: 12px;
  }
}

.motivation__point:nth-of-type(3)::before {
  @media (min-width: $desktop-width) {
    right: 14px;
  }
}

.motivation__point::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: -10px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 100%;
    right: -20px;
    left: auto;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 100%;
    right: -20px;
    left: auto;
    bottom: 0;
  }
}

.motivation__point:nth-child(1) {
  background-color: var(--basic-orange);

  @media (min-width: $tablet-width) {
    border-radius: 0;
    border-top-left-radius: var(--corner-radius-small);
  }

  @media (min-width: $desktop-width) {
    border-bottom-left-radius: var(--corner-radius-small);
  }
}

.motivation__point:nth-child(1)::after {
  background-color: var(--basic-orange);
}

.motivation__point:nth-child(2) {
  background-color: var(--special-orange);
  z-index: 10;

  @media (min-width: $tablet-width) {
    border-radius: 0;
    border-top-left-radius: var(--corner-radius-small);
    border-top-right-radius: var(--corner-radius-small);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    left: -18px;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--corner-radius-small);
  }
}

.motivation__point:nth-child(2)::after {
  background-color: var(--special-orange);

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 80px;
    right: -80px;
  }
}

.motivation__point:nth-child(3) {
  background-color: var(--special-yellow);
  z-index: 20;

  @media (min-width: $tablet-width) {
    border-radius: 0;
    border-bottom-left-radius: var(--corner-radius-small);
  }

  @media (min-width: $desktop-width) {
    border-top-left-radius: var(--corner-radius-small);
  }
}

.motivation__point:nth-child(3)::after {
  background-color: var(--special-yellow);

  @media (min-width: $desktop-width) {
    display: block;
    width: 80px;
    right: -80px;
  }
}

.motivation__point:nth-child(n + 4):nth-child(odd) {
  background-color: var(--special-yellow);
  z-index: 20;

  @media (min-width: $tablet-width) {
    border-radius: 0;
    border-bottom-left-radius: var(--corner-radius-small);
  }

  @media (min-width: $desktop-width) {
    border-top-left-radius: var(--corner-radius-small);
  }
}

.motivation__point:nth-child(n + 4):nth-child(odd)::after {
  background-color: var(--special-yellow);

  @media (min-width: $desktop-width) {
    display: block;
    width: 80px;
    right: -80px;
  }
}

.motivation__point:nth-child(n + 4):nth-child(even) {
  background-color: var(--basic-yellow);
  z-index: 20;

  @media (min-width: $tablet-width) {
    border-radius: 0;
    border-bottom-left-radius: var(--corner-radius-small);
    border-bottom-right-radius: var(--corner-radius-small);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    left: 12px;
    width: 315px;
    border-top-left-radius: var(--corner-radius-small);
    border-top-right-radius: var(--corner-radius-small);
    border-bottom-left-radius: var(--corner-radius-small);
  }
}

.motivation__point:nth-child(n + 4):nth-child(even)::after {
  background-color: var(--basic-yellow);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.motivation__point:last-child::after {
  display: none;
}

.motivation__text {
  width: 160px;

  @media (min-width: $tablet-width) {
    width: 210px;
  }
}
