.navigation {
  position: relative;

  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 71px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.navigation::after {
  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    position: absolute;
    top: 7px;
    left: -90px;
    background-color: var(--basic-white);
  }
}

.header_scroll .navigation::after {
  @media (min-width: $desktop-width) {
    background-color: var(--basic-blue-dark);
  }
}

.navigation__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;
    padding-left: 0;
  }
}

.navigation__link {
  display: flex;
  width: 100%;
  color: var(--basic-blue-dark);
  text-decoration: none;
  overflow-y: hidden;

  @media (min-width: $desktop-width) {
    margin-right: 34px;
    margin-bottom: 15px;
    color: var(--basic-white);
  }
}

.header_scroll .navigation__link {
  @media (min-width: $desktop-width) {
    color: var(--basic-blue-dark);
  }
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--basic-yellow);
}

.navigation__link:active {
  opacity: 0.3;
}

.navigation__text {
  display: flex;
  position: relative;
  transition: transform 0.3s;
}

.navigation__text::before {
  content: attr(data-hover);
  width: calc(100% + 1ch);

  position: absolute;
  top: 100%;

  font-weight: 700;
  text-align: left;
  transform: translate3d(0, 0, 0);
}

.navigation__link:hover .navigation__text,
.navigation__link:focus .navigation__text {
  transform: translateY(-100%);
}
