.numeric-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 43px;

  border: 1px solid #cbced9;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.numeric-field__input {
  text-align: center;
  border: none;
  background: transparent;

  @media (min-width: $desktop-width) {
    width: 57px;
  }
}

.numeric-field__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;

  border: none;
  background: transparent;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 70px;
  }
}

.numeric-field__icon {
  width: 14px;
  height: 14px;
  stroke: var(--special-grey);

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}
