.numeric-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 43px;

  border: 1px solid #cbced9;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.numeric-field:hover {
  border-color: #959bb2;
}

.numeric-field:focus-within {
  border-color: var(--special-blue);
}

.numeric-field__input {
  padding-top: 4px;

  text-align: center;
  border: none;
  background: transparent;

  font-family: "Blogger Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 57px;
  }
}

.numeric-field__input::-webkit-outer-spin-button,
.numeric-field__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.numeric-field__input:focus {
  outline: none;
}

.numeric-field__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;

  border: none;
  background: transparent;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 70px;
  }
}

.numeric-field__icon {
  width: 14px;
  height: 14px;
  stroke: var(--special-grey);

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.numeric-field:hover .numeric-field__icon {
  stroke: #959bb2;
}

.numeric-field__button:hover .numeric-field__icon,
.numeric-field__button:focus .numeric-field__icon {
  stroke: #999999;
}

.numeric-field__button:active .numeric-field__icon {
  stroke: #e5e5e5;
}
