.numeric-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 43px;

  border: 1px solid #cbced9;
  border-radius: 4px;
}

.numeric-field__input {
  border: none;
  background: transparent;
}

.numeric-field__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;

  border: none;
  background: transparent;
}

.numeric-field__icon {
  stroke: var(--special-grey);
}
