.paragraph {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    font-size: 28px;
    line-height: 32px;
  }
}

.promo__citate .paragraph {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}
