.paragraph {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
}

.promo__citate .paragraph {
  margin-bottom: 18px;
}
