.profile-info {
  display: flex;
  max-width: 270px;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  padding-top: 24px;
}

.profile-info::before {
  content: "";
  display: block;
  min-width: 320px;
  width: 100%;
  height: 24px;
  position: absolute;
  top: 126px;
  left: 0;
  background-color: var(--basic-yellow);
}

.profile-info__rating {
  margin-left: 16px;
}

.profile-info__pic {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 19px;
  border-radius: 50%;
}
