.profile-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 480px;

  margin-left: auto;
  margin-right: auto;

  padding-left: var(--page-padding-size);
  padding-right: var(--page-padding-size);
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    max-width: 1024px;

    padding-top: 66px;
    padding-left: calc(var(--page-padding-size) + var(--content-padding-size));
    padding-right: calc(var(--page-padding-size) + var(--content-padding-size));
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;

    max-width: 1320px;

    padding-top: 69px;
    padding-left: 64px;
    padding-right: 0;
    padding-bottom: 66px;
  }
}

.profile-form__load-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 31px;
  border-radius: 20px;

  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--basic-blue);

  background-color: var(--special-blue-light);

  @media (min-width: $tablet-width) {
    height: 60px;
    margin-bottom: 52px;
    border-radius: 10px;
    letter-spacing: 0.09em;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -2px;
    right: 95px;

    min-width: 190px;
    width: 190px;
    height: 47px;

    margin-bottom: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    letter-spacing: 0;

    .profile-form__load-photo-change {
      display: none;
    }
  }
}

.profile-form__load-photo:hover {
  background-color: #d1d7e9;
}

input:focus + .profile-form__load-photo {
  background-color: #d1d7e9;
  outline: auto;
}

.profile-form__load-photo:active {
  background-color: var(--special-blue-light);

  .profile-form__load-photo-text {
    opacity: 0.3;
  }
}

.profile-form__fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.profile-form__fieldset-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 0;

  border: 1px solid #cbced9;
  border-radius: 10px;
}

.profile-form__fieldset_tags .profile-form__fieldset-wrapper {
  height: 89px;
  margin-bottom: 25px;
  padding: 0;

  @media (min-width: $tablet-width) {
    height: 95px;
  }

  @media (min-width: $desktop-width) {
    width: 732px;
    margin-bottom: 0;
  }
}

.profile-form__fieldset:hover .profile-form__fieldset-wrapper {
  border: 1px solid #aeb4cb;
}

.profile-form__fieldset_tags:focus-within .profile-form__fieldset-wrapper {
  border: 1px solid #161c35;
}

.profile-form__fieldset_transport {
  @media (min-width: $tablet-width) {
    width: 308px;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.profile-form__fieldset_transport .profile-form__fieldset-wrapper {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 63px;

  @media (min-width: $tablet-width) {
    width: 308px;
    min-height: 95px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    min-width: 384px;
    margin-bottom: 0;
  }
}

.profile-form__legend {
  position: absolute;
  top: -8px;
  right: 50%;
  transform: translateX(50%);

  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 17px;
  padding-right: 17px;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--basic-blue);

  background-color: var(--basic-blue-light);

  @media (min-width: $tablet-width) {
    top: calc(100% - 12px);

    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    top: calc(100% - 12px);
  }
}

.profile-form__fieldset_transport .profile-form__legend {
  @media (min-width: $desktop-width) {
    top: calc(100% - 12px);
  }
}

.profile-form__fieldset_tags .profile-form__legend {
  @media (min-width: $desktop-width) {
    right: calc(100% - 60px);
  }
}

.profile-form__tags {
  display: flex;
  align-items: center;
  width: 100%;

  padding-top: 26px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0;

  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);

  border: none;
  resize: none;
  background: transparent;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: 0;

    font-size: 20px;
    line-height: 22px;
  }
}

.profile-form__tags::placeholder {
  color: var(--basic-grey);
  opacity: 0.6;
}

.profile-form__tags:focus {
  outline: none;
}

.profile-form__transport {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  background-color: var(--basic-white);
  fill: #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 45px;
  }
}

input:checked + .profile-form__transport {
  fill: var(--basic-blue);
}

input:checked + .profile-form__transport:hover,
input:checked:focus + .profile-form__transport {
  fill-opacity: 0.7;
}

input:checked:focus + .profile-form__transport {
  outline: auto;
}

input:not(:checked) + .profile-form__transport:hover,
input:not(:checked):focus + .profile-form__transport {
  fill: #b2b2b2;
}

input:not(:checked):focus + .profile-form__transport {
  outline: auto;
}

input:checked:active + .profile-form__transport {
  fill-opacity: 0.3;
  background-color: #e2e5f1;
}

input:not(:checked):active + .profile-form__transport {
  fill: #ced3e2;
  background-color: #e2e5f1;
}

.profile-form__transport:hover {
  filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
}

.profile-form__icon {
  width: 17px;
  height: 16px;

  fill: inherit;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 22px;
  }
}
