.promo {
  background-color: var(--basic-blue-dark);
  background-image: url("../img/illustrations/traveller-mobile.png"),
    url("../img/illustrations/rect-bg-promo-mobile.png"),
    url("../img/illustrations/moon-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: 320px 320px, 100vw 285px, 100% 424px;
  background-position: center 156px, center 478px, center 53px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/illustrations/traveller-tablet.png"),
      url("../img/illustrations/rect-bg-promo-tablet.png"),
      url("../img/illustrations/moon-bg-tablet.png");
    background-size: 768px 768px, contain, 100% 612px;
    background-position: center 90px, center 995px, center 383px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/illustrations/traveller-desktop.png"),
      url("../img/illustrations/moon-bg-desktop.png");
    background-size: 1440px 750px, 100% 750px;
    background-position: center top, center top;
  }
}

.promo__wrapper {
  max-width: 480px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 96px;
  padding-left: var(--page-padding-size);
  padding-right: var(--page-padding-size);
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    max-width: 1024px;
    padding-top: 162px;
    padding-bottom: 96px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    max-width: 1440px;

    padding-top: 209px;
    padding-bottom: 123px;
  }
}

.promo__head-title {
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 242px;

  @media (min-width: $tablet-width) {
    max-width: 400px;
    margin-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    max-width: 470px;

    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 69px;
  }
}

.promo__client-menu {
  position: relative;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promo__citate {
  width: 220px;
  margin-top: 0;
  margin-bottom: 29px;
  padding-left: var(--content-padding-size);
  padding-right: var(--content-padding-size);

  @media (min-width: $tablet-width) {
    width: 340px;
    margin-bottom: 211px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    left: 56px;

    grid-column: 4 / 5;
    grid-row: 1 / 2;

    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.promo__motivation {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }
}
