.rating-slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 220px;

  @media (min-width: $tablet-width) {
    width: 275px;
  }

  @media (min-width: $desktop-width) {
    width: 189px;
  }
}

.rating-slider__line {
  width: 100%;
  height: 2px;

  background-color: var(--basic-blue);
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    height: 3px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 2px;
  }
}

.rating-slider__line-filled {
  position: absolute;
  left: 84px;

  width: calc(100% - 84px);
  height: 2px;

  background-color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    left: 107px;
    width: calc(100% - 107px);
    height: 3px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 2px;
  }
}

.rating-slider__pin {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 13px;
  }
}

.rating-slider__pin_min {
  position: absolute;
  left: 84px;

  @media (min-width: $tablet-width) {
    left: 107px;
  }
}

.rating-slider__pin_max {
  position: absolute;
  left: calc(100% - 10px);
}
