.regions {
  position: relative;
  margin-top: 71px;
  padding-left: var(--page-padding-size);
  padding-right: var(--page-padding-size);
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/illustrations/flags-back-tablet.png");
    background-repeat: no-repeat;
    background-size: 288px 574px;
    background-position: calc(100% - var(--page-padding-size)) 12px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    padding-top: 90px;
    padding-left: 96px;
    padding-bottom: 60px;
  }
}

.regions::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  border-bottom-left-radius: var(--corner-radius-large);
  border-bottom-right-radius: var(--corner-radius-large);
  position: absolute;
  bottom: -30px;
  left: 0;

  background-color: var(--basic-blue-light);
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 60px;
    border-bottom-left-radius: var(--corner-radius-large);
    border-bottom-right-radius: var(--corner-radius-large);
    bottom: -60px;
  }
}

.regions__title {
  margin-bottom: 19px;
  padding-left: var(--content-padding-size);

  @media (min-width: $tablet-width) {
    max-width: 378px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 5px;
    margin-left: 90px;
    margin-bottom: 58px;
  }
}

.regions__paragraph {
  margin-bottom: 62px;
  padding-left: var(--content-padding-size);

  color: var(--basic-grey);

  @media (min-width: $tablet-width) {
    margin-bottom: 106px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 90px;
    margin-bottom: 103px;
  }
}

.regions__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 17px;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
    padding-left: var(--content-padding-size);
    padding-right: var(--content-padding-size);
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    align-items: start;
    margin-bottom: 0;
  }
}

.regions__button {
  width: 270px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 618px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 275px;
    margin-left: 125px;
  }
}
