.services {
  width: 220px;
  margin-top: 0;
  padding-left: var(--padding-wrap-content);
  font-weight: 300;
  color: var(--basic-grey);
}

.services__title {
  margin-bottom: 6px;
  padding-top: 13px;
  border-top: 1px solid var(--special-grey-light);
}

.services__definition {
  margin-left: 0;
  margin-bottom: 15px;
}

.services__definition:last-child {
  padding-bottom: 18px;
  border-bottom: 1px solid var(--special-grey-light);
}
