.sub-paragraph {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: var(--basic-white);

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}
