.table-symbols {
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 369px;
    height: 414px;
  }

  @media (min-width: $desktop-width) {
    width: 489px;
    height: 478px;
  }
}

.table-symbols__body {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 262px;
    height: 346px;

    margin-top: 35px;
    margin-left: 27px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 361px;
    height: 408px;

    margin-top: 32px;
    margin-left: 26px;
    margin-right: 102px;
    margin-bottom: 36px;
  }
}

.table-symbols__row {
  display: flex;
  border-bottom: 1px solid #cbced9;

  @media (min-width: $tablet-width) {
    border-left: 1px solid #cbced9;
    border-right: 1px solid #cbced9;

    &:first-child {
      border-top: 1px solid #cbced9;
    }
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    border-bottom: none;

    &:first-child {
      border-top: none;
    }
  }
}

.table-symbols__row:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.table-symbols__cell {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 44px;
  min-height: 40px;

  padding: 0;

  font-weight: 500;
  font-size: 14px;
  color: var(--basic-blue);

  cursor: pointer;

  @media (min-width: $tablet-width) {
    min-width: 52px;
    min-height: 68px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 58px;
    min-height: 68px;
    border: 1px solid #cbced9;
    border-radius: 4px;

    &:hover {
      border-color: #959bb2;
    }
  }
}

.table-symbols__cell:not(:last-child) {
  border-right: 1px solid #cbced9;

  @media (min-width: $desktop-width) {
    margin-right: 16px;

    &:hover {
      border-color: #959bb2;
    }
  }
}

.table-symbols__cell_active {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.table-symbols__cell:active {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
