.title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--basic-orange);

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

.page-form .title {
  color: var(--basic-blue);
}
