.trip-form {
  position: relative;
  padding-bottom: 67px;

  background-color: var(--extra-blue-light);

  form {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    padding-left: var(--page-padding-size);
    padding-right: var(--page-padding-size);

    padding-bottom: 82px;
  }
}

.trip-form::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  top: -30px;
  left: 0;

  background-color: var(--extra-blue-light);
  z-index: 1;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    height: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    top: -60px;
  }
}

.trip-form__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 480px;

  margin-left: auto;
  margin-right: auto;

  padding-left: var(--page-padding-size);
  padding-right: var(--page-padding-size);

  @media (min-width: $tablet-width) {
    max-width: 1024px;
    padding-top: 23px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.trip-form__title {
  align-self: start;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 64px;
    margin-bottom: 48px;
    font-size: 36px;
  }
}

.trip-form__markers {
  position: absolute;
  top: 0;
  right: calc(var(--page-padding-size) + 19px);

  @media (min-width: $tablet-width) {
    top: 21px;
    right: var(--content-padding-size);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.trip-form__step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10px;

  padding-top: 26px;
  padding-left: var(--content-padding-size);
  padding-right: var(--content-padding-size);
  padding-bottom: 0;

  border-radius: 10px;

  background-color: var(--basic-white);

  @media (min-width: $tablet-width) {
    min-width: 618px;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 82px;

    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
    padding-left: 159px;
    padding-right: 159px;
    padding-bottom: 106px;

    border-radius: 60px;
  }
}

.trip-form__step:first-child {
  margin-bottom: 6px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
    padding-top: 108px;
    padding-bottom: 106px;
  }
}

.trip-form__step:nth-child(2) {
  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
    padding-bottom: 85px;
  }
}

.trip-form__step:last-child {
  margin-bottom: 10px;
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    padding-top: 48px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
    padding-top: 101px;
    padding-bottom: 83px;
  }
}

.trip-form__step-header {
  width: 100%;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
    padding-bottom: 10px;
  }
}

.trip-form__step-markers {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    height: auto;
    margin-top: 3px;
    margin-left: auto;
  }
}

.trip-form__heading {
  align-self: start;
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }
}

.trip-form__text {
  align-self: start;
  width: 218px;

  margin-top: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 22px;
  color: var(--basic-grey);

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 505px;
    margin-bottom: 33px;

    font-size: 20px;
    line-height: 24px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 581px;
    margin-bottom: 42px;
  }
}

.trip-form__base-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 30px;
    padding-bottom: 30px;

    border-top: 1px solid #cbced9;
  }
}

.trip-form__companions-info {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    border-top: 1px solid #cbced9;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;

    width: 540px;

    margin-bottom: 14px;
    border-top: none;
  }
}

.trip-form__duration-info {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    border-top: 1px solid #cbced9;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;

    margin-bottom: 0;
    border-top: none;
  }
}

.trip-form__numeric-label {
  position: relative;
  align-self: start;
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 6px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-top: 23px;

    font-size: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 0;
    border-top: none;

    letter-spacing: 0;
  }
}

.trip-form__numeric-label[for="trip-form-companions"]::after {
  content: "Чел.";
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 440px;
    opacity: 1;
  }
}

.trip-form__numeric-label[for="trip-form-duration"]::after {
  content: "Дн.";
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 440px;
    opacity: 1;
  }
}

.trip-form__checkbox {
  order: 1;
  align-self: start;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    order: 0;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

.trip-form__date-info {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.trip-form__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.trip-form__button {
  width: 100%;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    align-self: start;
    justify-content: space-between;
    width: 284px;
    min-height: 80px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: var(--corner-radius-small);

    font-size: 24px;
    text-transform: none;

    &::after {
      content: "";
      flex-shrink: 0;
      display: block;
      width: 14px;
      height: 14px;

      background-image: url("../img/svg/blue-arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.trip-form__button-back {
  margin-top: 6px;
  width: 100%;
  font-weight: 700;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 223px;
    height: 80px;

    position: relative;
    left: 18px;

    margin-top: 0;
    padding-left: 0;
    padding-right: 0;

    font-size: 24px;
    text-transform: none;

    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;

      margin-right: 20px;
      margin-bottom: 5px;

      background-image: url("../img/svg/blue-arrow-revert.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    left: 15px;
  }
}

.trip-form__button-back:hover,
.trip-form__button-back:focus {
  opacity: 0.7;
  background-color: transparent;
}

.trip-form__button-back:active {
  opacity: 0.3;
}

.trip-form__route {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.trip-form__button-add-wrapper {
  position: relative;
  display: flex;
  width: 100%;

  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.trip-form__button-add-wrapper::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 49px;

  border-radius: 50%;
  border: 1px solid #cbced9;

  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 14px;
    height: 14px;
    right: 133px;

    background-color: var(--basic-blue-light);
  }

  @media (min-width: $desktop-width) {
    right: 219px;
  }
}

.trip-form__button-add-wrapper::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    width: 1px;
    height: 70px;

    position: absolute;
    top: 50%;
    right: 140px;

    background-image: url("../img/graphics/shadow-line.png");
    background-repeat: no-repeat;
    background-size: 1px 70px;
  }

  @media (min-width: $desktop-width) {
    right: 226px;

    height: 190px;
    background-color: #e1e3e9;
    background-image: none;
  }
}

.trip-form__button-add {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 42px;

  padding-left: 10px;
  padding-right: 15px;

  border: none;
  border-radius: 4px;

  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.09em;
  color: var(--basic-blue);
  text-transform: uppercase;

  background-color: var(--basic-blue-light);

  @media (min-width: $tablet-width) {
    align-self: start;
    min-width: 369px;
    width: calc(100% - 162px - 13px);
    height: 70px;

    padding-left: 25px;
    padding-right: 25px;

    font-size: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.trip-form__button-add:hover,
.trip-form__button-add:focus {
  background-color: var(--special-blue-light);
}

.trip-form__button-add svg {
  width: 14px;
  height: 14px;
  opacity: 0.2;
  stroke: #000000;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.trip-form__button-add:hover svg,
.trip-form__button-add:focus svg {
  opacity: 0.3;
}

.trip-form__button-add:active svg {
  opacity: 0.1;
}

.trip-form__action-plan {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }
}
