.trip-form {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: var(--page-padding-size);
  padding-right: var(--page-padding-size);

  background-color: var(--extra-blue-light);
}

.trip-form::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  top: -30px;
  left: 0;

  background-color: var(--extra-blue-light);
  z-index: 1;
}

.trip-form__title {
  align-self: start;
  margin-bottom: 29px;
}

.trip-form__markers {
  position: absolute;
  top: 0;
  right: calc(var(--page-padding-size) + 19px);

  display: flex;
  align-items: center;
  height: 24px;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

.trip-form__marker {
  display: flex;
}

.trip-form__marker:not(:last-child) {
  margin-right: 16px;
}

.trip-form__marker::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--basic-blue);
  opacity: 0.3;
}

.trip-form__marker_active::before {
  opacity: 1;
}

.trip-form__marker-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.trip-form__step {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: var(--page-padding-size);
  margin-right: var(--page-padding-size);

  padding-top: 24px;
  padding-left: var(--content-padding-size);
  padding-right: var(--content-padding-size);
  padding-bottom: 23px;

  border-radius: 10px;

  background-color: var(--basic-white);
}

.trip-form__heading {
  align-self: start;
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-blue);
}

.trip-form__text {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 22px;
  color: var(--basic-grey);
}

.trip-form__base-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.trip-form__numeric-label {
  align-self: start;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.trip-form__numeric-field:not(:last-child) {
  margin-bottom: 20px;
}

.trip-form__checkbox {
  align-self: start;
  margin-bottom: 25px;
}

.trip-form__date-info {
  margin-bottom: 22px;
}

.trip-form__button {
  width: 100%;
  font-weight: 700;
}
