.user {
  display: flex;
  flex-direction: column;
  width: 270px;
  min-height: 428px;

  @media (min-width: $tablet-width) {
    width: 285px;
    min-height: 483px;
  }
}

.user:not(:last-child) {
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.user__pic {
  border-top-left-radius: var(--corner-radius-small);
  border-top-right-radius: var(--corner-radius-small);
}

.user__rating {
  position: absolute;
  top: 0;
}

.user__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 25px;
  padding-bottom: 20px;

  border-bottom-left-radius: var(--corner-radius-small);
  border-bottom-right-radius: var(--corner-radius-small);

  background-color: var(--basic-white);

  @media (min-width: $tablet-width) {
    padding-top: 31px;
  }
}

.user__name {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 21px;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    margin-left: 68px;
    margin-right: auto;
    margin-bottom: 23px;

    font-size: 24px;
  }
}

.user__name::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  left: -16px;
  border-radius: 50%;

  background-color: var(--user-offline-color);

  @media (min-width: $tablet-width) {
    width: 8px;
    height: 8px;
    left: -20px;
  }
}

.user_online .user__name::before {
  background-color: var(--user-online-color);
}

.user__favs,
.user__hashtags,
.user__icons {
  margin-top: 0;
  padding-left: 0;
}

.user__favs {
  position: absolute;
  top: -12px;
  display: flex;
}

.user__flag {
  width: 35px;
  height: 25px;
}

.user__flag:not(:last-child) {
  margin-right: 20px;
}

.user__hashtags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 190px;
  margin-bottom: 14px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-bottom: 20px;
  }
}

.user__hashtag {
  line-height: 18px;
  color: var(--basic-grey);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }
}

.user__hashtag:not(:last-child) {
  margin-right: 5px;
}

.user__icons {
  display: flex;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }
}

.user__icon {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.15;
}

.user__icon:not(:last-child) {
  margin-right: 8px;
}

.user__icon_prefer {
  opacity: 1;
}

.user__icon_airplane {
  background-image: url("../img/icons/icon-airplane.svg");
}

.user__icon_bus {
  background-image: url("../img/icons/icon-bus.svg");
}

.user__icon_bicycle {
  background-image: url("../img/icons/icon-bicycle.svg");
}

.user__icon_walk {
  background-image: url("../img/icons/icon-walk.svg");
}
