.user {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 270px;
  min-height: 428px;

  @media (min-width: $tablet-width) {
    width: 285px;
    min-height: 483px;
  }
}

.user:hover {
  filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.16));
}

.user:not(:last-child) {
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.user__pic-wrapper {
  width: 270px;
  height: 270px;
  border-top-left-radius: var(--corner-radius-small);
  border-top-right-radius: var(--corner-radius-small);
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 285px;
  }
}

.user__pic {
  width: 100%;
  height: 100%;
}

.user:hover .user__pic {
  transform-origin: center;
  transform: scale(1.2);
}

.user__rating {
  top: 17px;
  left: 17px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    top: 22px;
    left: 22px;
  }
}

.user__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 20px;

  border-bottom-left-radius: var(--corner-radius-small);
  border-bottom-right-radius: var(--corner-radius-small);

  background-color: var(--basic-white);
}

.user__name {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 21px;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    margin-left: 68px;
    margin-right: auto;
    margin-bottom: 23px;

    font-size: 24px;
  }
}

.user__name::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  left: -16px;
  border-radius: 50%;

  background-color: var(--user-offline-color);

  @media (min-width: $tablet-width) {
    width: 8px;
    height: 8px;
    left: -20px;
  }
}

.user_online .user__name::before {
  background-color: var(--user-online-color);
}

.user__name:hover,
.user__name:focus-within {
  opacity: 0.7;
}

.user__name:active {
  opacity: 0.3;
}

.user__name-link {
  color: inherit;
  text-decoration: none;
}

.user__favs,
.user__hashtags,
.user__icons {
  margin-top: 0;
  padding-left: 0;
}

.user__favs {
  position: relative;
  top: -12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: -5px;
}

.user__flag {
  position: relative;
  width: 35px;
  height: 25px;
  margin-bottom: 5px;
}

.user__flag:hover::before,
.user__flag:hover::after {
  display: flex;
}

.user__flag::before {
  box-sizing: content-box;
  content: "";
  display: none;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 56px;

  padding-left: 20px;
  padding-right: 20px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -67px;

  font-weight: 400;
  font-size: 20px;
  color: var(--basic-white);

  border-radius: 4px;
  background-color: #101d41;
}

.user__flag::after {
  content: "";
  display: none;
  width: 14px;
  height: 10px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -14px;

  background-image: url("../../img/svg/tooltip-pin.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.user__flag.flag_sri::before {
  content: "Шри-ланка";
}

.user__flag.flag_tai::before {
  content: "Тайланд";
}

.user__flag.flag_sei::before {
  content: "Сейшелы";
}

.user__flag.flag_belg::before {
  content: "Бельгия";
}

.user__flag.flag_czech::before {
  content: "Чехия";
}

.user__flag:not(:last-child) {
  margin-right: 20px;
}

.user__hashtags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 190px;
  margin-bottom: 14px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-bottom: 20px;
  }
}

.user__hashtag {
  line-height: 18px;
  color: var(--basic-grey);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }
}

.user__hashtag:not(:last-child) {
  margin-right: 5px;
}

.user__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }
}

.user__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.user__icon:not(:last-child) {
  margin-right: 8px;
}

.user__icon_prefer .user__icon-svg {
  fill-opacity: 1;
}

.user__icon::before {
  content: "";
  display: none;

  height: 56px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -67px;

  font-weight: 400;
  font-size: 20px;
  color: var(--basic-white);

  border-radius: 4px;
  background-color: #101d41;
}

.user__icon::after {
  content: "";
  display: none;

  height: 10px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -14px;

  background-image: url("../../img/svg/tooltip-pin.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.user__icon:hover::before,
.user__icon:hover::after {
  display: block;
}

.user__icon_airplane::before {
  content: "Авиаперелет";
  width: 146px;
  padding: 18px 20px;
}

.user__icon_airplane::after {
  width: 14px;
}

.user__icon_bus::before {
  content: "Автотранспорт";
  width: 170px;
  padding: 18px 25px;
}

.user__icon_bus::after {
  width: 16px;
}

.user__icon_bicycle::before {
  content: "Велосипед";
  width: 130px;
  padding: 18px 20px;
}

.user__icon_bicycle::after {
  width: 12px;
}

.user__icon_walk::before {
  content: "Пешком";
  width: 110px;
  padding: 18px 22px;
}

.user__icon_walk::after {
  width: 10px;
}

.user__icon-svg {
  fill: var(--basic-blue);
  fill-opacity: 0.15;
}

.user__icon_airplane .user__icon-svg {
  width: 23px;
  height: 22px;
}

.user__icon_bus .user__icon-svg {
  width: 18px;
  height: 20px;
}

.user__icon_bicycle .user__icon-svg {
  width: 25px;
  height: 25px;
}

.user__icon_walk .user__icon-svg {
  width: 22px;
  height: 24px;
}
