.users {
  position: relative;
  padding-top: 98px;
  padding-left: var(--padding-wrap-blocks);
  padding-right: var(--padding-wrap-blocks);
  background-color: var(--basic-blue-dark);
}

.users::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  bottom: -30px;
  left: 0;
  background-color: var(--basic-blue-dark);
  z-index: 1;
}

.users__title,
.users__paragraph,
.users__sub-paragraph {
  padding-left: var(--padding-wrap-content);
}

.users__sub-paragraph {
  margin-bottom: 54px;
}

.users__list {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
}

.users__button {
  margin-bottom: 1px;
}
