.users {
  position: relative;
  background-color: var(--basic-blue-dark);
}

.users::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  border-bottom-left-radius: var(--corner-radius-large);
  border-bottom-right-radius: var(--corner-radius-large);
  position: absolute;
  bottom: -30px;
  left: 0;

  background-color: var(--basic-blue-dark);
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 60px;
    bottom: -60px;
  }
}

.users__wrapper {
  max-width: 480px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 98px;
  padding-left: var(--page-padding-size);
  padding-right: var(--page-padding-size);

  background-image: url("../../img/graphics/rect-users-back.png"),
    url("../../img/graphics/rogovaya-back.png"),
    url("../../img/graphics/smolov-back.png");
  background-repeat: no-repeat;
  background-size: 132px 132px, 71px 71px, 143px 143px;
  background-position: -19px 70px, -10px 340px, 152px 70px;

  @media (min-width: $tablet-width) {
    max-width: 1024px;

    padding-top: 200px;
    padding-bottom: 27px;

    background-size: 212px 212px, 285px 285px, 143px 143px;
    background-position: 40px 132px, calc(100% - 40px - 32px) 140px, 40px 480px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content min-content;

    max-width: 1440px;

    padding-top: 190px;
    padding-left: 130px;
    padding-bottom: 77px;

    background-position: 58px 132px, 188px 446px, 547px 195px;
  }
}

.users__title {
  margin-bottom: 17px;
  padding-left: var(--content-padding-size);

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 55px;
    padding-left: 0;
  }
}

.users__paragraph {
  width: 240px;
  margin-bottom: 25px;
  padding-left: var(--content-padding-size);

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 460px;
    margin-bottom: 40px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 42px;
    padding-left: 0;
  }
}

.users__sub-paragraph {
  margin-bottom: 54px;
  padding-left: var(--content-padding-size);

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 292px;
    margin-bottom: 60px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-bottom: 80px;
    padding-left: 0;
  }
}

.users__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 18px;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    width: 630px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.users__button {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;

  @media (min-width: $tablet-width) {
    width: 618px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 280px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}
