$tablet-width: 688px;
$desktop-width: 1320px;

:root {
  --basic-white: #ffffff;

  --basic-grey-light: #f2f2f2;
  --special-grey-light: #e1e3e9;

  --basic-grey: #444444;
  --special-grey: #cccccc;

  --basic-blue-light: #edeff6;
  --special-blue-light: #dfe3f0;
  --extra-blue-light: #d4d9eb;

  --basic-blue: #1d2e5b;
  --special-blue: #161c35;
  --extra-blue: #132576;

  --basic-blue-dark: #192144;
  --special-blue-dark: #121936;
  --extra-blue-dark: #182044;

  --basic-yellow: #ffd74b;
  --special-yellow: #ffbd30;

  --basic-red: #f47e7e;

  --basic-orange: #ff8d30;
  --special-orange: #ffa530;

  --user-online-color: #81e31e;
  --user-offline-color: #f97676;

  --page-padding-size: 25px;
  --content-padding-size: 24px;

  --corner-radius-small: 10px;
  --corner-radius-large: 30px;

  @media (min-width: $tablet-width) {
    --page-padding-size: 40px;
    --content-padding-size: 32px;

    --corner-radius-small: 20px;
    --corner-radius-large: 60px;
  }

  @media (min-width: $desktop-width) {
    --page-padding-size: 60px;
    --content-padding-size: 34px;
  }
}
