:root {
  --basic-white: #ffffff;

  --basic-grey-light: #f2f2f2;
  --special-grey-light: #e1e3e9;

  --basic-grey: #444444;

  --basic-blue-light: #edeff6;
  --special-blue-light: #dfe3f0;

  --basic-blue: #1d2e5b;
  --special-blue: #161c35;
  --extra-blue: #132576;

  --basic-blue-dark: #192144;
  --special-blue-dark: #121936;

  --basic-yellow: #ffd74b;
  --special-yellow: #ffbd30;

  --basic-red: #f47e7e;

  --basic-orange: #ff8d30;
  --special-orange: #ffa530;

  --user-online-color: #81e31e;
  --user-offline-color: #f97676;

  --padding-wrap-blocks: 25px;
  --padding-wrap-content: 24px;
}
